$partamon-navbar-border-height: 3px;
$partamon-navbar-height: 59px + $partamon-navbar-border-height;
$partamon-logo-color: #67982f;

@mixin partamon-background {
  background: url(../assets/background-register.jpg);
  background-attachment: fixed;
  //@include desktop {
  min-height: calc(100vh);
  //}
}